<fieldset>
  <legend><%= t(:message).capitalize %></legend>
  <div class="message_text">
      <div class="field">
        <%= f.text_area :message %>
      </div>

      <div id="sms_info">
        <div id="size_info">
            <%= t(:sms_size).html_safe %>: <span id="sms_size"> </span>
        </div>
        <br>
        <div id="parts_info">
            <%= t(:sms_parts).html_safe %>: <span id="sms_parts"></span>
        </div>
      </div>
   </div>
</fieldset>
