<h1>Listing credits</h1>

<table>
  <thead>
    <tr>
      <% if current_user.admin %>
        <th>User</th>
      <% end %>
      <th>Balance</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <% if current_user.admin %>
          <td><%= credit.user %></td>
        <% end %>
        <td><%= credit.balance %></td>
        <td><%= credit.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @lists %></p>
