<h1>Listing bulk_messages</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Lists</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_messages.each do |bulk_message| %>
      <tr>
        <td><%= bulk_message.message %></td>
        <td><%= bulk_message.lists.first %></td>
        <td><%= link_to 'Show', bulk_message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulk message', new_bulk_message_path %>
