<h2><strong>Contáctenos</strong></h2>

<p>¡Le atenderemos!</p>

<ul>
<li><p><strong>Correo Electrónico:</strong></p>

<p><a href="mailto:info@knal.es">info@knales</a></p></li>
<li><p><strong>Mensajes de Texto:</strong></p>

<p><a href="tel:+5358452292">(53) KNALES 01</a></p></li>
<li><p><strong>Teléfono:</strong></p>

<p><a href="tel:+5376481525">(53) KNALES 02</a></p></li>
</ul>
